services:
  web:
    build: .
    depends_on:
      - db
      - kwkhtmltopdf
    ports:
      - "8069:8069"
      - "8072:8072"
    volumes:
      - private-equity-odoo-data:/data/odoo
    environment:
      - DB_HOST=db
      - DB_USER=odoo
      - DB_PASSWORD=odoo
      - DB_NAME=odoo
      - LIST_DB=True
      - DB_NAME=testos18
  db:
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    volumes:
      - private-equity-db-data:/var/lib/postgresql/data
  kwkhtmltopdf:
    image: ghcr.io/acsone/kwkhtmltopdf:0.12.5-latest
volumes:
  private-equity-odoo-data:
  private-equity-db-data:
